* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(162, 203, 243);
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 3rem;
  padding: 2rem;
  color: rgb(29, 68, 68);
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  color: rgb(29, 68, 68);
}

p {
  font-size: 2em;
  text-align: center;
}

span, a {
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  color: rgb(29, 68, 68);
}

span:hover, a:hover {
  color: rgb(249, 252, 252);
  transition: 0.5s;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  padding: 1rem;
  border: solid 1px rgb(29, 68, 68);
  border-radius: 0.5rem;
}

input {
  width: 100%;
  margin: 0.2rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none
}

button {
  width: 100%;
  margin: 0.2rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(29, 68, 68);
  color: rgb(249, 252, 252);
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(249, 252, 252);
  color: rgb(29, 68, 68);
  transition: 0.5s;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 1px rgb(29, 68, 68);
  margin: 1rem auto;
  padding: 0;
}

tr, th {
  border: solid 1px rgb(29, 68, 68);
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: rgb(29, 68, 68);
  color: rgb(249, 252, 252);
  font-size: 2rem;
}

td {
  border: solid 1px rgb(29, 68, 68);
  padding: 0.5rem;
  text-align: center;
  font-size: 1.4em;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem auto;
  padding: 1rem;
  border: solid 1px rgb(29, 68, 68);
  border-radius: 0.5rem;
}

@media screen and (max-width: 400px) {

  body {
    width: 100%;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.5em;
  }

  form {
    width: 80%;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }

  table {
    width: 100%;
  }

  tr, th {
    border: solid 1px rgb(29, 68, 68);
    padding: 0.5rem;
    text-align: center;
  }

  th {
    background-color: rgb(29, 68, 68);
    color: rgb(249, 252, 252);
    font-size: 0.8em;
  }

  td {
    border: solid 1px rgb(29, 68, 68);
    padding: 0.3rem;
    text-align: center;
    font-size: 1em;

  }

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    padding: 1rem;
    border: solid 1px rgb(29, 68, 68);
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 401px) {
  
    body {
      width: 100%;
    }
  
    h1 {
      font-size: 3em;
    }
  
    h2 {
      font-size: 2em;
    }
  
    p {
      font-size: 1.6em;
    }
  
    form {
      width: 80%;
    }
  
    input {
      width: 100%;
    }
  
    button {
      width: 100%;
    }
  
    table {
      width: 100%;
    }
  
    th {
      font-size: 1.2em;
    }
  
    td {
      font-size: 1em;
    }
  
    article {
      width: 90%;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    
      body {
        width: 100%;
      }
    
      h1 {
        font-size: 4em;
      }
    
      h2 {
        font-size: 2.5em;
      }
    
      p {
        font-size: 2em;
      }
    
      form {
        width: 80%;
      }
    
      input {
        width: 100%;
      }
    
      button {
        width: 100%;
      }
    
      table {
        width: 90%;
      }
    
      th {
        font-size: 1.6em;
      }
    
      td {
        font-size: 1.4em;
      }
    
      article {
        width: 90%;
      }
}

@media screen and (min-width: 801px) and (max-width: 1600px) {
    
      body {
        width: 100%;
      }
    
      h1 {
        font-size: 4em;
      }
    
      h2 {
        font-size: 2.5em;
      }
    
      p {
        font-size: 2em;
      }
    
      form {
        width: 50%;
      }
    
      input {
        width: 80%;
      }
    
      button {
        width: 80%;
      }
    
      table {
        width: 90%;
      }
    
      th {
        font-size: 1.6em;
      }
    
      td {
        font-size: 1.4em;
      }
    
      article {
        width: 90%;
      }
}
  
